@page "/"

<PageTitle>Bowling Scorekeeper</PageTitle>
<h1>Bowling ScoreKeeper</h1>
<h3>Bowling: The only Sport with Fried Food and Pitchers of Beer</h3>
<iframe src="https://bowl.com/rules" height="600" width="800" />
<p>
    Sponsored by: <a href="https://www.heart.org/">The National Heart Association</a>
</p>